<%- include("header") %> 

<div class="ask">
    <h1>Ask Question</h1>
    <form class="" action="/compose" method="POST">
    <div class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control" name="publish">
        <label for="">Post</label>
        <textarea name="text1" class="form-control" id="" cols="30" rows="10"  ></textarea>
       
    </div>
    <button type="submit" class="btn btn-primary" id="btn1">Publish</button>

</form>
</div>


<%- include("footer") %> 