<%- include("header") -%> 
<%- include("nav") -%>
<section>
    <div class="conatiner">
        <div class="content">
            <!-- <h3 class="text">why are you care</h3> -->
            <h4 class="text">Why are you care</h4>

        <h3 class="text"><span style="color: brown;">QuestionBank</span> is Here</h3>
        </div>

        <a href="main" class="btn1">Ask Me Now</a>
        <!-- <button type="button" class="btn1" href="main">Ask Me Now</button> -->

    </div>
    
</section>
<script src="public/script.js"></script>
<%- include("footer") -%>