<nav>
    <label class="logo">Question Bank</label>
    <ul>
        <li><a href="index" class="active">Home</a></li>
        <li><a href="ask" >Ask Question</a></li>
        <!-- <li><a href="#">contact</a></li> -->
        <li><a href="signup">Sign up</a></li>
    </ul>
    <label id="icon">
        <i class="fas fa-bars"></i>
    </label>
</nav>